{% load url from future %}
<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <meta charset="UTF-8" />
        <title>DomainMakr - Finest Domain-Hacking Tool</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css">
	 <link rel="shortcut icon" type="image/ico" href="http://www.domainmakr.eu/static/img/favicon.ico" />
        <link rel="apple-touch-icon" href="http://www.domainmakr.eu/static/img/logo.png" />
	 <meta name="keywords" content="domain-hack, domain-hacking, domain-hacking tool, domain-maker"/>
	 <meta name="description" content="DomainMakr is the world's finest domain-hacking tool! It provides the fastest way to create great domain-hacks for you and your company..." />
        <link rel="canonical" href="http://www.domainmakr.eu" />
        <meta name="twitter:card" value="summary" />
        <meta name="twitter:site" value="@funkblockade" />
        <meta name="twitter:creator" value="@jbspeakr" />
        <meta name="twitter:image" value="http://www.domainmakr.eu/static/img/logo.png" />
        <meta name="twitter:description" value="DomainMakr is the world's finest domain-hacking tool! It provides the fastest way to create great domain-hacks for you and your company..." />
        <meta property="og:locale" content="en_GB"/>
	 <meta property="og:description" content="DomainMakr is the world's finest domain-hacking tool! It provides the fastest way to create great domain-hacks for you and your company..." />
        <meta property="og:title" content="DomainMakr - Finest Domain-Hacking Tool"/>
        <meta property="og:url" content="http://www.domainmakr.eu"/>
        <meta property="og:site_name" content="DomainMakr"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.domainmakr.eu/static/img/logo.png" />
        <link rel="author" href="https://plus.google.com/115369062315673853712/posts" />
    </head>
    <body>
        <h1>DomainMakr</h1>
        <h2>The World's finest Domain-Hacking tool</h2>
        <input name="domain" type="text" size="63" id="input" class="textbox" onkeyup="hackDomain();" autocomplete="off" spellcheck="false" maxlength="63">
        <div id="content">
            <ol id="hackresult">
                <li class="yellow">'''</li>
                <li class="yellow">Wh0ot, fouNd th1s gr8 domain-hack 7ool?</li>
                <li class="yellow">EN7er a woRd a80ve anD ch3Ck oUT</li>
                <li class="yellow">po55ible domain-hacks b3low!!!1!</li>
                <li class="yellow">'''</li>
                <li><span class="white">domainHack1</span> <span class="pink">=</span> <span class="yellow">'http://www.</span><span class="blue">doma</span><span class="pink">.in</span><span class="yellow">'</span> # Indonesia</li>
                <li><span class="white">domainHack2</span> <span class="pink">=</span> <span class="yellow">'http://www.</span><span class="blue">do</span><span class="pink">.ma</span><span class="green">/in</span><span class="yellow">'</span> # Malaysia</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li><h3># Domain-Hack, WTF?!</h3></li>
                <li># a <strong>DomainHack</strong> is an unconventional domain name</li>
                <li># that combines domain levels, especially the</li>
                <li># Top-Level Domain (TLD), to spell out the full</li>
                <li># "name" or title of the domain.</li>
                <li>&nbsp;</li>
                <li># <strong>DomainHacks</strong> offer the ability to produce</li>
                <li># extremely short domain names. This makes them</li>
                <li># potentially valuable as redirectors, pastebins,</li>
                <li># base domains from which to delegate subdomains</li>
                <li># and URL shortening services.</li>
                <li>&nbsp;</li>
            </ol>
            <ul>
                <li><a href="#">JSON</a></li>
                <li><a href="#">Permalink</a></li>
            </ul>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
        <script src="{{ STATIC_URL }}js/ajax.js" type="text/javascript"></script>
    </body>
